<header class="border-b border-neutral-600 px-8 py-4 bg-neutral-900 shadow-md">
  <nav class="flex flex-row items-baseline w-full">
    <a href="/dashboard">
      <h1 class="font-bold text-2xl text-neutral-300">🟣 autovod</h1>
    </a>
  </nav>
</header>