<!DOCTYPE html>
<html lang="en" style="background-color: #262626; color: white;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
  <title>autovod</title>
</head>
<body un-cloak class="bg-neutral-800">

  {{{body}}}

</body>
</html>