<div hx-boost="true" class="p-2 bg-neutral-900 shadow-lg border border-neutral-600 flex flex-col">
  <div class="p-4 space-y-4">
    <ol>
      {{#each subs as |sub|}}
      <li class="p-2 bg-neutral-800 shadow-lg border border-neutral-600 ">
        <form hx-delete="/dashboard/action/twitch-subscription" hx-sync="closest form:drop" hx-target="#widget-div"
          class="flex flex-row justify-between">
          <input type="hidden" name="subId" value="{{sub.id}}">
          <div class="flex flex-row gap-4 w-full pr-4">
            <p class="font-mono w-1/3">{{sub.channel}}</p>
            <p class="font-mono w-1/3">{{sub.eventsubType}}</p>
            <p class="font-mono w-1/3">{{sub.status}}</p>
          </div>
          <button class="bg-red-500 text-white px-2 py-1 items-center inline-flex flex-row gap-2 justify-center">
            delete
            <span class="loading-indicator">
              {{> spinner}}
            </span>
          </button>
        </form>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="p-4 space-y-4">
    <hr>
    <p>Add a subscription</p>
    <form hx-post="/dashboard/action/twitch-subscription" hx-sync="closest form:drop" hx-target="#widget-div"
      class="flex flex-col gap-4 bg-neutral-800 p-4 justify-start items-start">
      <label>
        <span>twitch login</span>
        <input type="text" required name="login" placeholder="hasanabi"
          class="max-w-xs flex h-10 w-full rounded-md border border-neutral-600 bg-neutral-900 px-3 py-2 text-sm ring-offset-2 file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-600 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50" />
      </label>
      <label>
        <span>subscription type</span>
        <select name="type"
          class="max-w-xs flex h-10 w-full rounded-md border border-neutral-600 bg-neutral-900 px-3 py-2 text-sm ring-offset-2 file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-neutral-600 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-white focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50">
          <option value="stream.online">stream.online</option>
          <option value="stream.offline">stream.offline</option>
        </select>
      </label>
      <button
        class="px-4 py-2 flex-row gap-2 hover:bg-purple-600/90 bg-purple-600 border text-sm border-white shadow-inner inline-flex items-center justify-center whitespace-nowrap ring-offset-1 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">add
        <span class="loading-indicator">{{> spinner}}</span>
      </button>
    </form>
  </div>
</div>