<div class="h-screen flex flex-col">
  {{>header}}
  <div class="w-full flex-1 flex justify-center items-center">
    <div
      class="mx-auto max-w-lg border border-neutral-600 shadow-lg p-8 flex flex-col justify-center items-center gap-4 bg-neutral-900">
      <h1 class="font-bold text-4xl">Sign in to autovod</h1>
      <p>You probably should not be here</p>
      <div class="pt-4">
        <a href="{{googleAuthUrl}}">
          <button
            class="p-4 hover:bg-purple-600/90 bg-purple-600 font-bold border border-white shadow-inner inline-flex items-center justify-center whitespace-nowrap ring-offset-1 transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50">
            Sign in with Google
          </button>
        </a>
      </div>
    </div>
  </div>
</div>